<mat-card class="example-card" (click)="click.emit()">
  <mat-card-header>
    <div
      [ngStyle]="{ 'background-image': 'url(' + character?.avatar + ')' }"
      mat-card-avatar
      class="example-header-image"
    ></div>
    <mat-card-title>{{ character?.name }}</mat-card-title>
    <mat-card-subtitle>{{ character?.race }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image class="charImage" [src]="character?.image" />

    <p>
      {{ character?.description }}
    </p>
  </mat-card-content>
</mat-card>
